<div class="game">
    <h1>Tic Tac Toe</h1>
    <div class="board">
        <% for(let i = 0; i < 9; i++) { %>
            <div class="cell" data-index="<%= i %>"></div>
        <% } %>
    </div>
</div>
